@page "/employees"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using KRSJewellery.Models
@using KRSJewellery.Data
@implements IAsyncDisposable
@inject IDbContextFactory<KRSJewellery.Data.MyAppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>KRS JEWELLERY DASHBOARD</h1>

<p style="font-size: 16px; color: #666; max-width: 700px; margin: 20px auto;">
    At KRS Jewellery, we believe in the timeless allure of fine jewellery. Each piece in our collection is a celebration of artistry, designed to capture your most cherished moments. From stunning gold and diamond necklaces to intricately crafted bangles and rings, we offer a wide range of jewellery that caters to every style and occasion.
</p>

<p>
    <a href="employees/create" class="btn btn-info">Create New</a>
</p>



<QuickGrid Class="table" Items="context.Employees">
    <PropertyColumn Property="employees => employees.EMPNAME" />
    <PropertyColumn Property="employees => employees.PLACE" />
    <PropertyColumn Property="employees => employees.CONTACT" />
    <PropertyColumn Property="employees => employees.EMAIL" />
    <PropertyColumn Property="employees => employees.SALARY" />

    <TemplateColumn Context="employees">
        <a href="@($"employees/edit?empid={employees.EMPID}")" class="btn btn-success">Edit</a> |
        <a href="@($"employees/details?empid={employees.EMPID}")" class="btn btn-info">Details</a> |
        <a href="@($"employees/delete?empid={employees.EMPID}")" class="btn btn-danger">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MyAppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
