<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">KRSJewellery</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> HOME
            </NavLink>
        </div>

        

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> COLLECTIONS
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ADMIN
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> DASHBOARD
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contactus">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> CONTACT US
            </NavLink>
        </div>
    </nav>
</div>

